







@media screen and (min-width: 1000px){
body{
    background-color: lightcyan;
}
    /*  mise en forme en tête de page   */
    .entete{
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: lightskyblue;
        margin-top: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
 
    .presentation{
        width: 70%;
    }
    h1{
        font-size: 55px;
        margin-bottom: 20px;
    }
    h2{
        font-size: 40px;
    }
    .accroche{
        font-size: 28px;
    }
    
    /*  retaillage photo    */
    [src="ma_photo2.1.jpg"]{
        border-radius :50%;
        border:2px solid white;
        width: 300px;
        height: 350px;
    }
    /*  mise enforme menu fixe  */
    ul {
        position: fixed;
        top: 0;
        width: 99%;
        height: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        overflow: hidden;
        border: 2px solid rgb(248, 118, 12);
        background-color: white;
        padding-left: 0px;
        
    }
    .sous_menu{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        width: 100px;
        padding-left: 0px;
    }

    li a {
        color: black;
        text-align: center;
        font-size: 28px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 14px 16px;
        text-decoration: none;
        position: relative;
    }

    li a:hover:after{
        content: attr(data-tooltip);
        position: absolute;
        top: 45px;
        left: 20px;
        font-size: 18px;
        padding: 4px;
        border: 1px solid rgb(77, 76, 76);;
        border-radius : 10px;
        background-color:rgb(159, 245, 248);
        color: rgb(77, 76, 76);
    }
      
    .fin_de_page{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 350px;
        text-align: center;
    }

    h3{
        text-align: center;
        font-size: 38px;
        color: rgb(187, 88, 7);
        margin-top: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    h4{
        text-align: center;
        font-size: 32px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: underline;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    h5{
        margin-top: 10px;
        margin-bottom: 10px;
        color: royalblue;
        text-align: center;
        font-size: 26px; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h6{
        color: black;
        text-decoration: underline;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 24px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    p{
        font-size: 24px;
        margin-bottom: 5px;
        margin-top: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .Formations{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    
    .form:hover{
        transform: scale(1.3);  
        background-color: skyblue;
    }
    
    .Competences,.Experiences,.formulaire{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* Gestion de toutes les div intermédiaires*/
    .finpage2,.finpage,.expe,.elec,.gest,.comp,.form{
        margin-top:10px;
        padding: 12px;
        border: 3px solid rgb(248, 136, 44);
        transition : all 0.5s ease-in;
     }
    .expe:hover,.elec:hover,.gest:hover,.comp:hover{
        transform: scale(1.5);
        background-color: cornsilk;
    }
    /* Gestion animations page d'acceuil*/
    .finpage:hover{
        background-color: cornsilk;
        transform: translate(190px, -150px) scale(1.7) rotate(360deg);
    }
    .finpage2:hover{
        background-color: cornsilk;
        transform: translate(-190px, -150px) scale(1.7) rotate(-360deg);
    }
 
    .finpage1:hover{
        transform: scale(1.3);
    }
    
    /* gestion du formulaire*/
    input{
        margin-bottom: 25px;
        font-size: 25px;
    }
    input:valid{
        color: green;
        border: 2px solid green;
    }

    textarea{
        font-size: 25px;
    }
    .check,footer{
        display: flex;
        justify-content: space-around;
    }
    .motif{
        display: flex;
    }
    .champs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }

    [type="checkbox"]{
        margin-top: 20px;
        margin-left: 15px;
        transform: scale(1.3);
    }
    label{
        margin: 10px;
        font-size: 23px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    footer{
        align-items: center;
        height: 70px;
        border: 2px solid rgb(248, 136, 44);
        background-color: whitesmoke;
        color: rgb(248, 136, 44);
    }
    .footer{
        margin-bottom: 18px;
        font-size: 24px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    [id="contact"],[id="Formations"],[id="Competences"],[id="Acceuil"],[id="Experiences"]{
        height: 100px;
    }

}
    
    /*gestion format telephone portable*/
    @media screen and (max-width: 1000px){
        body{
            background-color: lightcyan;
        }
        .entete{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: lightskyblue;
        }
        h1{
            font-size: 37px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        h2{
            font-size: 30px; 
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        h3{
            text-align: center;
            font-size: 28px;
            color: rgb(248, 136, 44);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        h4{
            text-align: center;
            font-size: 25px;
            text-decoration: underline;
            color: black;
            margin-bottom: 10px;
            margin-top: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        h5{
            color:rgb(248, 136, 44);
            text-align: center;
            font-size: 23px;
            margin-bottom: 10px;
            margin-top: 10px; 
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    
        h6{
            color: rgb(121, 120, 120);
            font-size: 20px;
            text-decoration: underline;
            margin-top: 15px;
            margin-bottom: 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        [class="presentation"]{
            width: 70%;
            font-size: 18px;
        }
        [src="ma_photo2.1.jpg"]{
            border-radius :50%;
            border:2px solid white;
            width: 150px;
            height: 170px;
        }
        .accroche{
            font-size: 28px;
        }
        .finpage1{
            visibility: hidden;
            height: 10px;
        }
        ul {
           list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: #f1f1f1;
        }
          
        li a {
            text-align: center;
            display: block;
            color: black;
            padding: 8px 16px;
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        li a:hover{
              background-color: rgb(159, 245, 248);
        }
        
        p{
            font-size: 16px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    
        .Formations{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 22px;
            text-align: center;
        }
        .form:hover{
            transform: scale(1.3);  
            background-color: skyblue;
        }

        .Competences,.Experiences,.fin_de_page,.formulaire{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        /* gestion des div intermédiaires*/
        .finpage2:hover,.finpage:hover,.expe:hover,.elec:hover,.gest:hover,.comp:hover{
            transform: scale(1.2);
            background-color: cornsilk;
        }
    
        .finpage2,.finpage,.expe,.elec,.gest,.comp,.form{
            padding: 12px;
            border: 3px solid rgb(248, 136, 44);
        }
        /*  Mise en page du formulaire*/
        .check{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .motif{
            display: flex;
        }
        .champs{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
        }
        .champs p{
            text-align: center;
        }
        input{
            font-size: 20px;
        }
        input:valid{
            color: green;
            border: 2px solid green;
        }
        textarea{
            font-size: 15px;
        }
        
        label{
            margin: 10px;
            font-size: 23px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        footer{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 70px;
            border: 2px solid rgb(248, 136, 44);
            background-color: whitesmoke;
            color: rgb(248, 136, 44);
            margin-top: 10px;
        }
}
    
